<!DOCTYPE html5>
<html>
<head>
    <title></title>
    <style>

body {
    font-family: sans-serif;
}


#lc-ms-overview img {
    width: 50%;
    margin-left: 24%;
}

#composition-abundance-overview img {
    width: 50%;
    margin-left: 24%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.flex-justify {
    justify-content: center;
}

.flex-left {
    align-self: flex-start;
}

.flex-item {
    flex: 1 0 0;
    padding: 40px;
}

.display-table td {
    text-align: center;
}
section {
    border-bottom: 2px lightgray solid;
    margin-bottom: 3px;
    border-radius: 5px;
}

body {
    margin: 20px;
}

</style>
</head>
<body>
<div>
    <h2>
        {{analysis.name}}
    </h2>
    <section>
    </section>
    <section>
    </section>
</div>
</body>
</html>